#livecenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; // height: 100%;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

#list-container {
    margin-top: 70px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-item {
    width: 30%;
    text-decoration: none;
}

.single-icons {
    max-width: 40%;
    height: auto;
}

.single-icons:hover {
    cursor: pointer;
}

#hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    display: none;
    z-Index: 9999;
}

#login {
    background-color: #fff;
    position: absolute;
    left: 35%;
    ;
    top: 20%;
    width: 20%;
    height: 50%;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    align-items: center;
}

.login-input {
    width: 50%;
}

#subscribes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#tv-s {
    display: flex;
    margin-top: 30px;
    width: 30%;
    flex-grow: 1;
}

.fade-enter-active {
    transition: opacity .5s
}

.fade-enter
/* .fade-leave-active in below version 2.1.8 */

{
    opacity: 0
}

#subscribe-list {
    margin-top: 100px;
    justify-content: flex-start;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.single-subscribe {
    margin: 0 20px;
    background-color: #fff;
    display: flex;
    height: 300px;
    flex-direction: column;
    transition: all .15s ease-in;
}

.single-subscribe:hover {
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, .05);
    -webkit-transform: translate3d(0, -2px, 0);
    cursor: pointer;
    transform: translate3d(0, -2px, 0);
}

.single-subscribe-infos {
    height: 100px;
    position: relative;
}

.single-subscribe img {
    height: 200px;
}

.ssi-room {
    position: absolute;
    top: 10px;
    left: 10px;
}

.ssi-owner {
    position: absolute;
    top: 40px;
    left: 10px;
    color: rgb(130, 129, 129);
}

.ssi-cate {
    position: absolute;
    top: 14px;
    right: 10px;
}

.ssi-online {
    position: absolute;
    top: 40px;
    right: 10px;
}

.ssi-logo {
    position: absolute;
    top: 60px;
    left: 50%;
    max-height: 30px;
    max-width: 30px;
}

// a{
//   transition: all ease-out 250ms;
//   transition-property: all;
//   transition-duration: 250ms;
//   transition-timing-function: ease-out;
//   transition-delay: initial;
// }