#livecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

#list-container {
    margin-top: 50px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-item {
    width: 30%;
    text-decoration: none;
}

.single-icons {
    width: 38%;
    height: 48%;
}